<div class="flex-center">
  <img src="../assets/images/Ellipse 27.png" class="outter-eclipse"/>
  <img src="../assets/images/Ellipse 29.png" class="inner-eclipe"/>
  <img src="../assets/images/Ellipse 30.png" class="inner-eclipe"/>
  <img src="../assets/images/hour-hand.png" class="inner-eclipe hour-hand" [ngStyle]="{'rotate' : hour_rotate+'deg'}"/>
  <img src="../assets/images/minute-hand.png" class="inner-eclipe minute-hand" [ngStyle]="{'rotate' : minute_rotate+'deg'}"/>
  <img src="../assets/images/second-hand.png" class="inner-eclipe second-hand" [ngStyle]="{'rotate' : second_rotate+'deg'}"/>
</div>